@font-face {
    font-family: 'JF-Flat-regular' ;
    src: url(../fonts/JF-Flat-regular.eot),
     url(../fonts/JF-Flat-regular.svg),
     url(../fonts/JF-Flat-regular.ttf),
    url(../fonts/JF-Flat-regular.woff);
    font-weight: bolder;
    font-style: normal;
}
body{
    font-family: 'JF-Flat-regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
/* القائمة العلوية */
nav.custom-navbar{
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding: 15px 0; 
}
nav.navbar form .custom-form-control:focus{
 border: 1px solid #b9001b;
 box-shadow: 0 0 2px 0 #b9001b;
}
nav.navbar form .custom-form-control,
.dropdown a.custom-btn{
    border: 1px solid  #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all 0.5s ease;
}
.custom-form-control{
    border: 1px solid  #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px !important;
    transition: all 0.5s ease;
}
.dropdown a.custom-btn:hover{
    background-color: #d4d4d4;
    color: #FB5F5F;
    border: 1px solid #8c8c8c;
}
.dropdown a.custom-btn:focus{
    color: #FB5F5F;
}
.search-btn{
    background-color: #FB5F5F;
    border-color:#ff3956;
    border-radius: 0;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    height: 38px;
    width: 65px;
    padding: 5px 15px 7px;
}
.search-btn:hover,
.search-btn:focus,
.search-btn:active,
.search-btn:active:hover,
.search-btn:active:focus{
    background-color: #C2101E;
    border-color: #C2101E;
    color: #fff;
}
.nav-link{
    color: #555;
    font-size: 14px;
    padding: 15px;
}
.custom-navbar .navbar-nav li.active a.nav-link{
    color: #ff3956;
    border-bottom: 1px solid #ff3956;
    font-weight: 700;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}
ul.dropdown-menu li a:hover{
    background-color: #ffe7ea;
}
.custom-navbar .icon-btn{
    margin-top: 8px;
    padding: 5px 10px;
    color: #777;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-right: 15px;
}
/* قسم الشرائح */
#carousel-featured {
    background-color: #f7f8f3;
    height: 400px;
    padding-top: 25px;
}
#carousel-featured .carousel-item img {
    height: 375px;
}
#carousel-featured .product-details{
    border: 1px solid #DDDDDB;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #F7F8F3;
}
#carousel-featured .product-details h1{
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}
#carousel-featured .product-details .product-category{
    border: 1px solid #DDDDDB;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f7f8f3;
}
.custom-btn-outline-warning{
    background-color: transparent;
    border-color: #f8ad47;
    color: #f8ad47;
}
.custom-btn-outline-warning:hover,
.custom-btn-outline-warningfocus,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:active:hover,
.custom-btn-outline-warning:active:focus{
    border-color: #b86d07;
    color: #b86d07;
}
.sale{
    background-color: #53CCD7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}
.sale.large{
    width: 60px;
    height: 60px;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
    transform: rotate(-25deg);
}
.sale.large span{
    font-size: 14px;
}
.custom-carousel-indicatros{
    top: 230px;
    right: 41%;
}
.custom-carousel-indicators-primary{
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    border: 2px solid #dddddb !important;
    margin: 0 !important;
    margin-left: 5px !important;
}
.custom-carousel-indicators-primary.active{
    border-color: #f8ad47!important;
}
#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left{
    color: #909090;
    font-size: 38px;
}
/* مميزات المتجر */
#store-features{
    box-shadow: 0 0 15px #FFFFFF;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    background-size: auto 60%;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-position: -10px -20px;
}
#store-features .feature img{
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature{
    border-right: 1px solid #fff;
}
/* الاكثر مبيعا  */
.heading{
    font-size: 24px;
    margin-bottom: 25px;
}
.custom-thumbnail{
    border: 2px solid #EEF0EA;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 50px;
}
.custom-thumbnail:hover{
    border-color: #53ccd7;
}
.custom-thumbnail img{
    max-height: 250px;
    width: 100%;
    max-width: 250px;
}
.custom-thumbnail h4{
    font-size: 18px;
}
.rating{
    color: #c2c2c2;
}
.rating .active{
    color: #F3AF41;
}
.price{
 color: #53ccd7;
}
.overlay{
    position: absolute;
    background-color: rgba(83, 204, 215, 0.5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.overlay:hover{
    opacity: 1;
}
.add-to-cart-btn{
    color: #53CCD7;
    background-color: #fff;
}
.custom-thumbnail .sale{
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
}
.custom-thumbnail .sale::after{
    content: "-";
}
.custom-carousel-indicators2{
    bottom: -20px !important; 
    list-style: none !important;
}
.custom-carousel-indicators2>li{
    width: 13px !important;
    height: 13px !important;
    margin: 2px !important;
    background-color: #dbdbdb !important;
}
.custom-carousel-indicators2>li.active{
    background-color: #565656 !important;
}
/* الماركات العالمية */

#row-brands h3.heading {
    border-top: 1px solid #eef0ea;
    padding-top: 25px;
}
.panel{
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;
}
.panel h4,
.panel .price{
    font-size: 130%;
    margin-bottom: 15px;
    margin-top: 0;
}
.custom-text-muted{
    color: #a9a9a9;
}
.arrow-btn {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #868686;
    font-size: 12px;
    padding: 5px 10px;
}
.panel .clearfix{
    margin-top: 12px;
}
/* ذيل الصفحة */
#brand-logos{
    background-color: #DBEEFA;
    padding: 20px 0;
    color: #555;
}
#brand-logos img{
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}
#footer-nav{
    background-color: #1F1E1E;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-position: 110% 0 , -10% -150%;
    background-repeat: no-repeat, no-repeat;
    padding: 50px 0 40px;
}
.footer-nav-links{
    margin: 30px 0;
}
.footer-nav-links a{
    margin-left: 30px;
    font-weight: bold;
    color: #555;
    text-decoration: none !important;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #292929;
}
.newsletter form{
    max-width: 260px;
}
.newsletter label{
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}
.input-group input{
    background-color: #313131;
    opacity: 0.6;
    border: none;
    height: 38px;
}
.newsletter form input[type='email']::placeholder {
  color: #555;
}
.custom-btn-warning{
    color: #000;
    background: #F3AF41;
    border-color: #F3AF41;
}
.custom-btn-warning:hover,
.custom-btn-warningfocus,
.custom-btn-warning:active,
.custom-btn-warning:active:hover,
.custom-btn-warning:active:focus{
    background: #B86D07;
    border-color: #B86D07;
}
.input-group button{
    border-radius: 0;
    border-top-left-radius:3px ;
    border-bottom-left-radius:3px ;
    font-size: 14px;
    padding: 6px 12px 5px;
    color: inherit;
    height: 38px; 
}
#footer-copyright-social{
    background-color: #151515;
    color: #303030;
    padding: 30px 0;
    font-weight:700;
}
#footer-copyright-social a{
    margin: 0 5px;
    text-decoration: none;
    color: #303030;
}
.btn:focus,
.btn:active{
    outline: none !important;
    box-shadow: none !important;
}

/* product.html */
    .custom-breadcrumb{
        padding: 25px 0;
    }
    .custom-breadcrumb a{
        text-decoration: none;
        color: #555;
    }
    .custom-breadcrumb a:hover{
        color: #f8ad47;
    }
    .custom-breadcrumb li::before{
        color: #f8ad47 !important;
    }
    .custom-breadcrumb .active{
        color: #bfbfbf;
    }
    #carousel-product-images .carousel-indicators{
        position: absolute;
        top: 92%;
        right: 0;
    }
    #carousel-product-images .carousel-item img{
        width: 100%;
        height: auto;
        border: 1px solid #ebebeb;
    }
    .product-category{
        color: #a9a9a9;
    }
    .clearfix h2{
        font-weight: 700;
        margin: 18px 0;
    }
    .clearfix .large{
        font-size: 30px;
        margin-top: 20px;
    }
    .borders-between>div+div{
        padding: 15px 0;
        border-top: 1px solid #ebebeb;
    }
    .product-option{
        display: inline-block;
        height: 23px;
        width: 23px;
        border: 1px solid #ebebeb;
        text-align: center;
        justify-content: center;
        color: #c2c2c2;
        margin: 3px;
        font-weight: 700;
    }
    .size-option.active{
        color: #f8ad47;
        border-color: #f8ad47;
    }
    .color-option.active{
        border-color: #fff;
        outline:1px solid #000;
    }
    .product-option input{
        display: none;
    }
    .product-quantity select{
        height: 34px !important;
        padding: 6px 12px;
        margin-right: 5px;
    }
    .custom-btn-with-icon{
        margin: 15px 0;
        font-size: 18px;
        padding: 5px 10px;  
    }
    .heading-with-border-bottom{
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 15px;
    }
    .heading-inline{
        display: inline-block;
        min-width: 250px;
    }
    .more-descrioption p,
    .more-descrioption ul{
        margin-bottom: 10px;
    }
    .comments .comment img{
        width: 80px;
        height: 80px;
        border: 1px solid #dfdfdf;
        margin-left: 10px;
    }
    .comments .comment h4{
        font-size: 18px;
        margin-bottom: 5px;
    }
/* end-product.html */
/* checkout.html */
h1.custom-heading{
    font-size: 36px;
    margin-bottom: 25px;
}
.custom-media img{
    width: 80px;
    height: 80px;
    border: 1px solid #ebebeb;
    margin-left: 15px;
}
.custom-table th,.custom-table td{
    padding: 15px;
    font-size: 120%;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
.custom-media h4{
    font-size: 18px;
    margin: 12px 0;
}
.custom-table th{
    color: #c2c2c2;
    font-weight: normal;
}
.custom-table td:first-child,
.custom-table th:first-child{
    width: 50%;
}
.custom-table td:not(:first-child),
.custom-table th:not(:first-child){
    text-align: center;
}
tfoot td{
    font-size: 150%;
    border-bottom: none;
}
#total-price-for-all-product{
    color: #000;
}
tbody .custom-btn-outline-danger{
    background: transparent;
    color: #ff3956;
    border: 1px solid #ff3956;
}
tbody .custom-btn-outline-danger:hover{
    color: #b9001b;
    border: 1px solid #b9001b;
}

/* end-checkout */

/* payment.html */

.custom-input-details{
    border-radius: 3px;
    border-width: 2px;
    height: 46px !important;
    padding: 0 16px;
    font-size: 18px;
    width: 98%;
}

/* end-payment */
/* search.html */

#form-advanced-search{
    border: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 35px;
    height: fit-content;
}
#form-advanced-search .panel{
    border: none;
    padding: 5px;
}
#form-advanced-search .panel .header{
    background-color: transparent;
    margin-bottom: 15px;
    padding-bottom: 13px;
}
.custom-list-group {
    border-bottom: 1px solid #ebebeb;
}
.custom-list-group .list-group-item{
    border: none;
}
.list-group-item label{
    font-weight:bold;
    cursor: pointer;
}
.custom-pagination .page-link{
    margin-left: 3px !important;
    margin-right: 3px !important;
    border: 1px solid #ebebeb !important;
    width: 32px !important;
    height: 32px !important;
    color: #c2c2c2 !important;
    text-decoration: none !important;
    outline: none !important;
    transition: all 0.3s ease !important    ;
}
.custom-pagination .page-item.active .page-link{
    background-color: #f8ad47 !important;
    color: #fff !important;
    border-color: #f8ad47 !important;
}
.custom-pagination .page-link:active,
.custom-pagination .page-link:focus,
.custom-pagination .page-link:hover{
    border-color: #f8ad47 !important;
    background-color: #fff !important;
    color: #f8ad47 !important;
}
/* end-search.html */
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) { 
   .custom-navbar .navbar-nav li a.nav-link{
        padding: 7px;
    }
        #carousel-featured .custom-carousel-indicatros{
        margin-right: 12%;
    }
}


@media (max-width: 991.98px) {
    .navbar-header{
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }
     .custom-navbar .icon-btn{
        float: left;
    }
    .custom-navbar .container{
       max-width: 100%;
    }
    .custom-navbar{
        padding: 15px 20px 30px !important;
    }
    .inline-form{
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;    
    }
    .inline-form .dropdown{
        display: none;
    }
   .inline-form .custom-form-control{
        width: 90%;
    }
    .search-btn{
        width: 10%;
    }
       .custom-navbar .navbar-nav li a.nav-link{
        padding: 10px 0 !important;
    }
    .navbar-collapse{
        border-top:1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }
    #carousel-featured .custom-carousel-indicatros{
        margin-right: 4%;
    }
    .overlay{
        display: none;
    }
    .add-to-cart-btn{
        color: #868686;
        border-color: #868686;
        margin-top: 8px;
        font-weight: 400;
    }
    #row-brands .carousel-inner img{
        height: auto !important;
        width: 250px !important;
    }
    #copyright,
    #social-icons{
        width: 100%;
        text-align: center;
    }
    #social-icons{
        font-size: 150%;
        margin-top: 10px;
    }
    .product-images{
        margin-bottom: 70px;
    }
    .product-option{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        margin: 10px;
    }
    .search-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }
 @media (min-width: 767.98px) and (max-width: 991.98px){
    .custom-thumbnail img{
        height: 200px;
    }
 }
 @media (max-width: 767.98px) {
    #carousel-featured{
        padding-bottom: 25px;
    }
    #carousel-featured,
    #carousel-featured .product-details{
        height: auto;
    }
    #carousel-featured .product-details{
        top: -2px;
        text-align: center;
    }
    #carousel-featured .carousel-item img{
        height: 250px;
    }
    #carousel-most-sold-altrenative .custom-thumbnail img{
        height: 250px;
        margin: auto;
    }
    #brand-logos img{
        max-width: 50px;
        max-height: 50px;
        margin: 5px 24px 5px 23px;
    }
    #footer-nav .footer-logo img{
        margin-bottom: 30px;
    }
        #footer-nav form {
        max-width: 100%;
        padding: 0 20px;
        width: 100%;
    }
    .hide-on-small{
        display: none;
    }
  }
  @media (max-width: 575.98px) {
        .custom-form-control{
        width: 80% !important;
    }
    .search-btn{
        width: 20% !important;
    }
    #brand-logos img{
        margin: 5px 15px;
    }
    #form-product-selection, .comments{
        padding-right: 15px;    
    }
  }


